server.host: "0.0.0.0"
server.basePath: "/kibana"
server.rewriteBasePath: true
elasticsearch.hosts: ["http://proxy:3344"]
elasticsearch.customHeaders:
  Authorization: "Bearer <your-service-bearer-token>"
elasticsearch.sniffOnStart: false
elasticsearch.sniffInterval: false
elasticsearch.sniffOnConnectionFault: false
xpack.security.enabled: false
